# nn model - to avoid updating each time
model/
# ignore updates in model folder: git update-index --assume-unchanged model/*
# undo: git update-index --no-assume-unchanged model/*

# dataset
ml-100k/

# debug files
debug

# ignore .out files
*.out

# Compiled binaries
build/

# Temporary files
*.o
*.swp
*.tmp
*.log
*.bak
*.txt
